select{
    width:15%;
    margin-bottom: 0.2%;
    border: 1px solid;
    border-radius: 4px;
}

input[type="text"]{
    width: 15%;
    margin-bottom: 0.5%;
    border: 1px solid;
}
input[type="button"]{
    width: 7.5%;
    margin-left: 3.25%;
    border: 1px solid;
    border-radius: 4px;
}
